# Ignore compiled Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/
src/components/__pycache__/

# Ignore environment-specific settings
.env

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*
/src/components/__pycache__

# Ignore user specific configuration files
config.json

# Ignore compiled files and logs
*.log
/src/components/build/
/src/components/dist/